
*{
  font-family: 'Poppins';

}
.nav-item{
  border-bottom: 2px solid white;
}
.nav-item:hover{
  border-bottom: 2px solid black;
}
#lblWishCount,#lblCartCount {
line-height: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  position: relative;
  bottom: 9px;
  right: 12px;
  height: 20px;
  width: 20px;
  cursor: pointer;
}



#lblCartCount,#lblWishCount {
    font-size: 12px;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-right: 10px; 
}
.wishlist{
  background-color: red;
}
.abc:hover{
cursor: pointer;
}
input {
  color: transparent;
  text-shadow: 0 0 0 #2196f3;

  &:focus {
      outline: none;
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  appearance: none;
  -moz-appearance: textfield;
}