* {
  font-family: 'Inter','Times New Roman';

}

/* CSS Just for testing offline */
/* button {
background: red;
color: white;
height: 20px;
width: 50px;
} */
/* Ends here*/
.nav-item {
  border-bottom: 2px solid transparent;
}

.navbar{
  background-color: #172237;
}

#lblWishCount,
#lblCartCount {
  line-height: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  position: relative;
  bottom: 9px;
  right: 12px;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.fa-heart,.fa-cart-shopping{
  color: white;
}

#lblCartCount,
#lblWishCount {
  font-size: 12px;
  color: #fff;
  padding: 0 5px;
  vertical-align: top;
  margin-right: 10px;
}
/* 
.search-btn{
  height: 50px;
} */

.product-item {
  height: 290px;
}

.product-item-bottom {
 position: absolute;
 bottom: 0;
 left: 0;
}

.product-item:hover {
  cursor: pointer;
}

input {
  color: transparent;
  text-shadow: 0 0 0 #2196f3;

  &:focus {
    outline: none;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  appearance: none;
  -moz-appearance: textfield;
}

.red-box {
  width: 20px;
  height: 40px;
  display: inline-block;
  border-radius: 3px;
}

.red-title {
  display: inline-block;
  height: 100%;

}

.btn-view-all {
  height: 45px;
}

.card-gap {
  margin-top: 80px;
}

.ct-block {
  width: 175px;
  height: 145px;
}

.bgc-black {
  background-color: #0D0D0D;
}

.bcontent-1 {
  background-color: #0D0D0D;
  height: 286px;
}

.bcontent-2 {
  width: 100%;
  background-color: #0D0D0D;
  background-size: 190px 221px;
  height: 100%;
}

.bcontent-3 {
  width: 100%;
  background-color: #0D0D0D;
  background-size: 201px 203px;
  height: 100%;
}

.bcontent-4 {
  width: 100%;
  background-color: #0D0D0D;
  background-position: bottom;
  background-size: 511px;
  height: 100%;
}

.new-arrival-boxes {
  height: 284px;
  width: 275px;
  ;
}

.feature-icons-ellipse1 {
  border-radius: 50%;
  height: 80px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9c9c9c;
}

.feature-icons-ellipse2 {
  border-radius: 50%;
  height: 58px;
  width: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 100%;
}


.input-icons i {
  left: 330px;
  font-size: 1.3rem;
  margin-left: 15px;
  cursor: pointer;
}

.input-icons {
  width: 400px;
  background-color: white;
  margin-bottom: 10px;
}

.icon {
  padding: 10px;
  color: black;
  min-width: 50px;
  text-align: center;
}

.input-field {
  width: 70%;
  padding: 10px;
  display: inline-block;
}

.input-field:focus {
  border-color: rgba(126, 239, 104, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
  outline: 0 none;
}


/* Header Categories Section */

@media (max-width: 575px) {
.footer-email, .arrival-sec {
  display:none
  }
.text-xs-center {
  text-align: center;
}
}

@media (max-width: 321px) {
  .navbar-brand {
    display:none
    }
  }